<main class="home">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Family website</h1>
            <h3 class="mb-5">
                <em>I introduce you to my family</em>
            </h3>
            <div class="p-2">
            <a class="btn btn-outline-primary" href="/signin">Lets get started</a>
            </div>
        </div>
    </header>
    <body>
        <br>
        <h1 class="text-center p-3" style="color: aqua;">My Family</h1>
<div class="rows">
    <div class="card mb-3 m-auto" style="max-width: 950px;">
      <div class="row g-0">
      <div class="col-md-4">
      <img src="/img/Family.jpg" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">This is my family</h5>
                    <p class="card-text">We are a very close family and we always support each other, we are followers and believers and despite everything we are happy this is part of my family called castrillon!</p>
                    <p class="card-text"><small class="text-muted">Foto tomada hace 2 años</small></p>
                </div>
            </div>
        </div>
        </div>
    <div class="card mb-3 m-auto" style="max-width: 950px;">
      <div class="row g-0">
      <div class="col-md-4">
      <img src="/img/Brother.jpg" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">This is my Brother</h5>
                    <p class="card-text">
                        This is me and my brother we hardly get along so well today but we are very generous and respectful between the two, and anything we share and support each other as always despite not being good brothers we try
                    </p>
                    <p class="card-text"><small class="text-muted">Foto tomada hace 4 años</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 m-auto" style="max-width: 950px;">
      <div class="row g-0">
      <div class="col-md-4">
      <img src="/img/Abuela.jpg" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">This is my grandmother and aunt</h5>
                    <p class="card-text">
                        They are one of the most special people in my life and fill me with happiness thanks to her I have her support and we have been cheering since I was a child and still, my grandmother has 96 years of life and my aunt 74 years thanks to God gave so much life to her
                    </p>
                    <p class="card-text"><small class="text-muted">Foto tomada hace 5 años</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 m-auto" style="max-width: 950px;">
      <div class="row g-0">
      <div class="col-md-4">
      <img src="/img/Mother.jpg" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">This is my mother</h5>
                    <p class="card-text">
                        My mom the best of all the breasts, has taught me a lot to value and respect and clearly be studious as I am now without rancor and with a lot of love that has us in the family and despite everything supports us of what she can is uy beautiful
                    </p>
                    <p class="card-text"><small class="text-muted">Foto tomada hace 1 año</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 m-auto" style="max-width: 950px;">
      <div class="row g-0">
      <div class="col-md-4">
      <img src="/img/Sister.jpg" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">This is my sister</h5>
                    <p class="card-text">
                        With my sister I get along very well with her and we always have fun talking about anything, we love each other very much between brothers and very joker just like me
                    </p>
                    <p class="card-text"><small class="text-muted">Foto tomada hace 14 años</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>
<footer>
  <p>Created and developer by: JuandaDC</p>
  <p>9/03/2022</p>
</footer>
</main>